{# @uploads/admin/approvefinal.html.twig #}

{% block approvefinal %}
{{ include('@uploads/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>Uploads Module Overview</h2>
        <div align="center">
            {{ successmessage }}
        </div>
    </div>
{% endblock %}