{# @uploads/includes/admin-mod-head.html.twig #}

{% block admin_mod_head %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            {% if xar_modulevar('uploads', 'use_module_alias') %}
                {{ xar_var({scope: "module", module: "uploads", name: "module_alias_name"}) }}
            {% else %}
                Uploads Administration
            {% endif %}
        </span>
        {{ include('@uploads/includes/admin-menu.html.twig') }}
    </div>
{% endblock %}